input {
    padding: 15px;
    margin: 10px 0px;
    width: 280px;
}
.formInput{
    display: flex;
    flex-flow: column nowrap;
    border-radius: 5px;
}

label {
    font-size: 14px;
    color: gray;
}

span {
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
}

input:invalid ~ span {
    display: block;
}