.formInput {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: flex-start;
    width: 280px;
}

label {
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 15px;
    margin: 10px 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Include padding in width */
}

span {
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
}

input:invalid[focused="true"]{
    border: 1px solid red;
}

input:invalid[focused="true"] ~ span {
    display: block;
}







